<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Location</title>
  </head>
  <body>
      <h1>Enter your city and state for a list of upcoming concerts.</h1>
      <p/>
      <form name="location" id="location" action="/location" method="POST">
          {{ form.csrf_token }}

          {{ form.city.label }} {{ form.city }}
          {% if form.city.errors %}
            {% for error in form.city.errors %}
                {{ error }}
            {% endfor %}
          {% endif %}
          {{ form.state }}
          {% if form.state.errors %}
                {% for error in form.state.errors %}
                    {{ error }}
                {% endfor %}
          {% endif %}
          <br><br>
          <h3> Additional Search Criteria (Optional)</h3>
          {{ form.genre.label }} {{ form.genre }} <p/>
          Events After {{ form.events_after.day }} {{ form.events_after.month }} {{ form.events_after.year }} <p/>
          Events Before {{ form.events_before.day }} {{ form.events_before.month }} {{ form.events_before.year }}
          <p/>{{ form.submit }}
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>